{% extends 'base.html' %}

{% load bootstrap %}
{% load fontawesome %}

{% block title %}Gitary - Nowa porada{% endblock %}

{% block content %}
    <div class="col-sm-offset-3 col-sm-6 panel panel-primary    ">
        <div class="panel-heading">Nowa porada</div>
        <div class="panel-body">
            <form action="{% url 'new_advice' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <div class="buttons">
                    <button class="btn btn-success" type="submit">{% fontawesome_icon 'plus' large=True %} Dodaj
                    </button>
                    <a href="{% url 'advices' %}" class="btn btn-danger">{% fontawesome_icon 'times' large=True %}
                        Anuluj</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
