{% extends 'base.html' %}

{% load pages_extra %}
{% load bootstrap %}
{% load fontawesome %}

{% block title %}Gitary - Porady użytkowników{% endblock %}

{% block content %}
    <div class="col-sm-3 panel panel-primary">
        <div class="panel-heading">Szukaj porady</div>
        <div class="panel-body">
            <form action="{% url 'advices' %}" method="get">
                {{ form.title|bootstrap }}
                {{ form.user|bootstrap }}
                <div class="form-group">
                    <label class="control-label">Data dodania</label>
                    {{ form.creation_date_from|bootstrap }}
                    {{ form.creation_date_to|bootstrap }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Szukaj</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-7">
        {% for advice in advices %}
            <div class="thumbnail">
                <div class="caption">
                    <h2>{{ advice.title }}</h2>
                    <p>Dodane przez: <strong>{{ advice.user.username }}</strong></p>
                    <p>Data dodania: <strong>{{ advice.creation_date }}</strong></p>
                    <p>{{ advice.text|truncatewords_html:20 }}</p>
                    <a href="{% url 'advice_details' advice.id %}" class="btn btn-info">Czytaj całość</a>
                </div>
            </div>
        {% endfor %}
        <div class="pager">
            <div class="btn-group">
                {% if advices.has_previous %}
                    <a href="?{% replace_page_number request 1 %}"
                       class="btn btn-primary">{% fontawesome_icon 'angle-double-left' large=True %}</a>
                    <a href="?{% replace_page_number request advices.previous_page_number %}"
                       class="btn btn-primary">{% fontawesome_icon 'angle-left' large=True %}</a>
                    {% for previous_page in previous_pages %}
                        <a href="?{% replace_page_number request previous_page %}" class="btn btn-primary">{{ previous_page }}</a>
                    {% endfor %}
                {% endif %}
                <span class="btn btn-primary active">{{ advices.number }}</span>
                {% if advices.has_next %}
                    {% for next_page in next_pages %}
                        <a href="?{% replace_page_number request next_page %}" class="btn btn-primary">{{ next_page }}</a>
                    {% endfor %}
                    <a href="?{% replace_page_number request advices.next_page_number %}"
                       class="btn btn-primary">{% fontawesome_icon 'angle-right' large=True %}</a>
                    <a href="?{% replace_page_number request advices.paginator.num_pages %}"
                       class="btn btn-primary">{% fontawesome_icon 'angle-double-right' large=True %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="col-sm-2 panel panel-success">
            <div class="panel-heading">Akcje</div>
            <div class="panel-body actions">
                <a href="{% url 'new_advice' %}" class="btn btn-success">Dodaj poradę</a>
                <a href="{% url 'advices' %}?user={{ user.username }}" class="btn btn-primary">Moje porady</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
