{% extends 'base.html' %}

{% load fontawesome %}

{% block title %}Gitary - {{ advice.title }}{% endblock %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-9">
        <h2>{{ advice.title }}</h2>
        <p>Dodane przez: <strong>{{ advice.user.username }}</strong> ({{ advice.user.email }})</p>
        <p>Data dodania: <strong>{{ advice.creation_date }}</strong></p>
        <p>Data ostatniej modyfikacji: <strong>{{ advice.last_edition_date }}</strong></p>
        <p>{{ advice.text|linebreaks }}</p>
    </div>
    {% if user.is_authenticated and user == advice.user %}
        <div class="col-sm-2 panel panel-success">
            <div class="panel-heading">Akcje</div>
            <div class="panel-body actions">
                <a href="{% url 'edit_advice' advice.id %}"
                   class="btn btn-primary">{% fontawesome_icon 'pencil-square-o' large=True %} Edytuj
                    poradę</a>
                <a href="{% url 'delete_advice' advice.id %}"
                   class="btn btn-danger">{% fontawesome_icon 'trash-o' large=True %} Usuń poradę</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
