{% extends 'base.html' %}

{% load fontawesome %}

{% block title %}Gitary - {{ advice_title }}{% endblock %}

{% block content %}
    <div class="panel panel-danger col-sm-offset-4 col-sm-4">
        <div class="panel-heading">Usuwanie porady</div>
        <div class="panel-body">
            <p>Czy na pewno chcesz usunąć tą poradę ("{{ advice_title }}")?</p>
            <div class="buttons">
                <a href="{% url 'confirm_deleting_advice' advice_id %}"
                   class="btn btn-primary">{% fontawesome_icon 'trash-o' large=True %} Usuń</a>
                <a href="{% url 'advice_details' advice_id %}"
                   class="btn btn-danger">{% fontawesome_icon 'times' large=True %} Anuluj</a>
            </div>
        </div>
    </div>
{% endblock %}