span.greetings {
    padding: 15px;
    display: block;
    color: floralwhite;
}

.panel {
    padding: 0;
}

div.thumbnail div.caption {
    text-align: center;
}

div.thumbnail div.caption p {
    text-align: justify;
    margin: 10px 0;
}

img.guitar-image {
    height: 200px;
}

a.image {
    text-decoration: none;
}

div.buttons {
    text-align: center;
}

textarea {
    resize: none;
}

div.add-producer {
    padding-left: 0;
}

div.guitar-images-panel {
    text-align: center;
}

div.guitar-images-row {
    margin: 10px 0;
    align-items: center;
}

div.guitar-images-row img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

div.actions a {
    display: block;
    margin: 5px;
}

div.form-group div.form-group{
    margin-left: 15px;
}
