{% extends 'bootstrap3/bootstrap3.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load bootstrap_themes %}
{% load fontawesome %}

{% bootstrap_styles theme='simplex' type='min.css' %}

{% block bootstrap3_extra_head %}
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <script src="{% static "js/scripts.js" %}"></script>
    {% fontawesome_stylesheet %}
{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
        Strona główna
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Gitary</a>
            </div>
            <div id="menu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Gitary <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'guitars' %}?akustyczna=">Akustyczne</a></li>
                            <li><a href="{% url 'guitars' %}?klasyczna=">Klasyczne</a></li>
                            <li><a href="{% url 'guitars' %}?elektryczna=">Elektryczne</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'guitars' %}">Wszystkie</a></li>
                            {% if user.is_authenticated and user.is_superuser %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'add_guitar' %}">Dodaj gitarę</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{% url 'advices' %}">Porady użytkowników</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>
                            <span class="greetings">
                                Witaj, {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}!
                            </span>
                        </li>
                        <li><a href="{% url 'auth_logout' %}">Wyloguj</a></li>
                    {% else %}
                        <li>
                            <span class="greetings">
                                Witaj, nieznajomy!
                            </span>
                        </li>
                        <li><a href="{% url 'auth_login' %}">Zaloguj się</a></li>
                        <li><a href="{% url 'registration_register' %}">Zarejestruj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}