{% extends 'base.html' %}

{% load bootstrap %}
{% load fontawesome %}

{% block title %}Gitary - Nowa gitara{% endblock %}

{% block content %}
    <div class="col-sm-offset-3 col-sm-6 panel panel-primary">
        <div class="panel-heading">Nowa gitara</div>
        <div class="panel-body">
            <form method="post" action="{% url 'add_guitar' %}" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <div class="form-group buttons">
                    <button class="btn btn-success" type="submit">{% fontawesome_icon 'plus' large=True %} Dodaj
                    </button>
                    <a href="{% url 'guitars' %}" class="btn btn-danger">{% fontawesome_icon 'times' large=True %}
                        Anuluj</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}