{% extends 'base.html' %}

{% load fontawesome %}

{% block title %}Gitary - {{ guitar_name }}{% endblock %}

{% block content %}
    <div class="panel panel-danger col-sm-offset-4 col-sm-4">
        <div class="panel-heading">Usuwanie gitary</div>
        <div class="panel-body">
            <p>Czy na pewno chcesz usunąć tą gitarę ({{ guitar_name }})?</p>
            <div class="buttons">
                <a href="{% url 'confirm_deleting_guitar' guitar_id %}"
                   class="btn btn-primary">{% fontawesome_icon 'trash-o' large=True %} Usuń</a>
                <a href="{% url 'guitar_details' guitar_id %}"
                   class="btn btn-danger">{% fontawesome_icon 'times' large=True %} Anuluj</a>
            </div>
        </div>
    </div>
{% endblock %}