{% extends 'base.html' %}

{% load fontawesome %}

{% block title %}Gitary - {{ guitar.name }}{% endblock %}

{% block content %}

    <div class="col-sm-3 guitar-images-panel">
        <div class="row guitar-images-row">
            <img src="{{ big_image.image.url }}" class="img-responsive">
        </div>
        <div class="row guitar-images-row">
            {% for image in images %}
                <a class="image" href="{% url 'guitar_details' guitar.id %}?big_image_id={{ image.id }}">
                    <img src="{{ image.image.url }}" height="50">
                </a>
            {% endfor %}
        </div>
        {% if user.is_authenticated and user.is_superuser and images %}
            <div class="row guitar-images-row">
                <a class="btn btn-info" href="{% url 'choose_thumbnail_image' guitar.id %}">Zmień zdjęcie główne</a>
            </div>
        {% endif %}
    </div>
    <div class="col-sm-7">
        <h2>{{ guitar.name }}</h2>
        <p>{{ guitar.description|linebreaks }}</p>
    </div>
    {% if user.is_authenticated and user.is_superuser %}
        <div class="col-sm-2 panel panel-info actions">
            <div class="panel-heading">Edycja</div>
            <div class="panel-body">
                <a href="{% url 'edit_guitar' guitar.id %}"
                   class="btn btn-primary">{% fontawesome_icon 'pencil-square-o' large=True %} Edytuj</a>
                <a href="{% url 'delete_guitar' guitar.id %}"
                   class="btn btn-danger">{% fontawesome_icon 'trash-o' large=True %} Usuń</a>
            </div>
        </div>
    {% endif %}
{% endblock %}