{% extends 'base.html' %}

{% load bootstrap %}
{% load fontawesome %}

{% block title %}Gitary - {{ guitar.name }}{% endblock %}

{% block content %}
    <div class="col-sm-offset-3 col-sm-6 panel panel-primary">
        <div class="panel-heading">Edytuj gitarę</div>
        <div class="panel-body">
            <form method="post" action="{% url 'edit_guitar' guitar.id %}" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <div class="form-group buttons">
                    <button class="btn btn-success" type="submit">{% fontawesome_icon 'floppy-o' large=True %} Zapisz
                    </button>
                    <a href="{% url 'guitar_details' guitar.id %}" class="btn btn-danger">{% fontawesome_icon 'times' large=True %}
                        Anuluj</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}