{% extends 'base.html' %}

{% block title %}Gitary - Gitary{% endblock %}

{% block content %}
    <div class="col-sm-3 panel panel-primary">
        <div class="panel-heading">Filtrowanie</div>
        <div class="panel-body">
            <form action="." method="get">
                <div class="panel panel-info">
                    <div class="panel-heading">Typ gitary</div>
                    <div class="panel-body">
                        {% for type in guitar_types %}
                            <div class="checkbox">
                                <label><input name="{{ type }}" type="checkbox" value=""
                                              {% if type in filters.types %}checked{% endif %}>{{ type }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Producent</div>
                    <div class="panel-body">
                        {% for producer in producers %}
                            <div class="checkbox">
                                <label><input name="{{ producer.name }}" type="checkbox" value=""
                                              {% if producer.name in filters.producers %}checked{% endif %}>{{ producer.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-info" type="submit">Filtruj</button>
            </form>
        </div>
    </div>
    <div class="col-sm-9">
        {% for guitar in guitars %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <img src="{{ guitar.image.image.url }}" alt="gitara" class="guitar-image" />
                        <h3>{{ guitar.guitar.name }}</h3>
                        <p>{{ guitar.guitar.description|truncatewords:20 }}</p>
                        <a href="{% url 'guitar_details' guitar.guitar.id %}" class="btn btn-primary">Szczegóły</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}