{% extends 'base.html' %}

{% load bootstrap %}
{% load fontawesome %}

{% block title %}Gitary - Zdjęcie główne{% endblock %}

{% block content %}
    <div class="col-sm-offset-3 col-sm-6 panel panel-primary">
        <div class="panel-heading">Wybór głównego zdjęcia</div>
        <div class="panel-body">
            {% if images_exists %}
                <form method="post" action="{% url 'choose_thumbnail_image' guitar_id %}" class="form-horizontal">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal }}
                    <div class="buttons">
                        <button class="btn btn-success" type="submit">{% fontawesome_icon 'floppy-o' large=True %}
                            Zapisz
                        </button>
                        <a href="{% url 'guitar_details' guitar_id %}"
                           class="btn btn-danger">{% fontawesome_icon 'times' large=True %} Anuluj</a>
                    </div>
                </form>
            {% else %}
                <p>Brak zdjęć</p>
                <a href="{% url 'guitar_details' guitar_id %}" class="btn btn-info">Powrót</a>
            {% endif %}
        </div>
    </div>
{% endblock %}