{% extends "base.html" %}

{% load bootstrap %}
{% load fontawesome %}

{% block title %}Gitary - Logowanie{% endblock %}

{% block content %}
    <div class="panel panel-info col-md-offset-3 col-md-6">
        <div class="panel-heading">Logowanie</div>
        <div class="panel-body">
            {% if user.is_authenticated %}
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p>Użytkownik jest już zalogowany.</p>
                    <a class="btn btn-default" href="{% url 'home' %}">Powrót do strony głównej</a>
                </div>
            {% else %}
                <form method="post" action="." class="form-horizontal">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal }}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" class="btn btn-default" value="Zaloguj"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <label>Zaloguj za pomocą: </label>
                            <div>
                                <a class="btn btn-primary"
                                   href="{% url 'social:begin' 'facebook' %}">{% fontawesome_icon 'facebook' color='white' large=True %}</a>
                                <a class="btn btn-default"
                                   href="{% url 'social:begin' 'google-oauth2' %}">{% fontawesome_icon 'google-plus' large=True %}</a>
                            </div>
                        </div>
                    </div>
                </form>
                {#                <a class="btn btn-default col-sm-offset-3 col-sm-6" href="{% url 'auth_password_reset' %}">Zapomniałem#}
                {#                    hasła</a>#}
            {% endif %}
        </div>
    </div>
{% endblock %}
