{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="panel panel-success col-sm-6 col-sm-offset-3">
        <div class="panel-heading">Wylogowano</div>
        <div class="panel-body">
            <p>Użytkownik został wylogowany poprawnie.</p>
            <a class="btn btn-default col-sm-4 col-sm-offset-1" href="{% url 'home' %}">Powrót do strony głównej</a>
            <a class="btn btn-default col-sm-4 col-sm-offset-2" href="{% url 'auth_login' %}">Zaloguj się ponownie</a>
        </div>
    </div>
{% endblock %}
