{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Gitary - Rejestracja{% endblock %}

{% block content %}
    <div class="panel panel-info col-md-offset-3 col-md-6">
        <div class="panel-heading">Rejestracja</div>
        <div class="panel-body">
            {% if user.is_authenticated %}
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p>Użytkownik jest już zalogowany.</p>
                    <a class="btn btn-default" href="{% url 'home' %}">Powrót do strony głównej</a>
                </div>
            {% else %}
                <form method="post" action="." class="form-horizontal">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal }}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Zarejestruj</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
